*
    margin: 0%
    padding: 0%

// section 1 :
.section1
    div
        img
            width: 36vw
        .img-button
            width: 35px

// section2 :

.section2
    width: 92vw
    .sectionChild
        height: fit-content
        width: 100%
        .section2BgImage
            background-image: url(../images/about.jpg)
            background-size: cover
            width: 80%
            height: 100%
            .section2BgImageChild
                bottom: 10%
        .sectionChild12
            width: 50%
            img
                width: 100%
                height: 39.5vh

// section 3   
.section3
    width: 92vw
    .section3Child1
        background-color: red
        width: 40%
    .section3Child2-hover
        transition: 300ms
        &:hover
            scale: 1.1

// sectionBgImg 
.sectionBgImg
    background-image: url(../images/stats-bg.jpg)
    background-size: cover
    width: 100%
    z-index: -2
    position: relative
    background-attachment: fixed
    &::after
        content: ''
        position: absolute
        background-color: black
        inset: 0
        opacity: 30%
        z-index: -1
// section 4               
.section4
    .menuBotton
        &:focus
            color: red
            border-color: red !important
// section 6
.boderImgCarousel
        border: solid 3px white  
        border-radius: 100%  
// section 81
.section81Child1
    background-image: url(../images/chefs/chefs-1.jpg)
    width: 100%
    height: 96%
    background-size: cover
.widthhover
    width: fit-content
    transition: 200ms
    left: 100% !important
    opacity: 55% !important
.section81Child2
    background-image: url(../images/chefs/chefs-2.jpg)
    width: 100%
    height: 96%
    background-size: cover
.section81Child3
    background-image: url(../images/chefs/chefs-3.jpg)
    width: 100%
    height: 96%
    background-size: cover
.card
    transition: 500ms
    overflow: hidden
    &:hover
        scale: 1.1
        .widthhover
            left: 86% !important
// section 8   
.section8Child
    width: 90vw
    img
        width: 30%
    div
        width: 90%
        padding-bottom: 7%
        padding-top: 7%
        input
            width: 25%
            height: 14%
        textarea
            width: 88%
            height: 28%
// section 11
.section11
    width: 85%
.section11Child1
    width: 49.3%
     

@media  ( max-width: 425px )
    .section1Child
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column-reverse !important
        text-align: center
        
        div
            display: flex
            justify-content: center

            img
                width: 70vw

                padding-bottom: 10%
                padding-top: 10%
        h3 , p 
            width: 100% !important
    // section2 :

    .section2
        width: 92vw
        .sectionChild
            width: 100% !important
            height: fit-content !important
            .section2BgImage
                background-image: url(../images/about.jpg)
                background-size: cover
                width: 100% !important
                height: 100vh !important
                margin-bottom: 5%
                .section2BgImageChild
                    bottom: 10%

            .sectionChild12
                width: 100% !important
            //     img
            //         width: 100%
            //         height: 39.5vh        
    // section 3   
    .section3
        width: 92vw
        .section3Child1
            background-color: red
            width: 100%
    // sectionBgImg 
    .sectionBgImg
        background-image: url(../images/stats-bg.jpg)
        background-size: cover 
        width: 100% 
        height: 100% 
        b
            font-size: 40px !important
            padding-top: 5%
    //  section4
    .section4
        .widthmenu
            width: 100% !important 
    // section6 
    // section8
    .section8Child
        width: 100% !important
        img
            width: 100% !important
    .section9inputGrp
        display: flex !important
        width: 100% !important
        .section9input
            width: 90% !important
            
            margin-top: 10px
            border: 2px black solid !important
            border-radius: 2% !important
    // section 11
    .section11
        width: 90% !important
    .section11Child1
        width: 100% !important       

    
  
       
     

